body{
  font-family: sans-serif;
}

.boekSelectie__cover{
  max-width: 100px;
}

.boekSelectie__rij--accent{
  background-color: #def;
}
.boekSelectie__data-cel{
  padding: 1em;
  vertical-align: top;
}
.boekSelectie__data-cel:nth-child(3){
  padding: 0;
}

#validatie img {
    height: 2em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

.boekSelectie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.boekSelectie:nth-child(even){
  background-color: #eee;
}

.boekSelectie__main{
  display: grid;
  grid-auto-rows:  auto 1fr auto;
  padding: .5em 0;

}

.boekSelectie__titel{
  margin: 0;
}

.boekSelectie__overig{
  margin: 0;
  font-size: .8em;
  color: #444;
}

.boekSelectie__prijs{
  font-size: 2em;
  padding: .5em;
}

@media screen and (min-width: 60em) {
  #uitvoer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }
  .boekSelectie:nth-child(even){
    background-color: inherit;
  }
  .boekSelectie:nth-child(4n+2),
  .boekSelectie:nth-child(4n+3){
    background-color: #eee;
  }
}
